<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8554-1658923965/blob/devansh/datapreprocessing/Importing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel("/content/Crude Oil Prices Daily.xlsx")

In [3]:
data

           Date  Closing Value
0    1986-01-02          25.56
1    1986-01-03          26.00
2    1986-01-06          26.53
3    1986-01-07          25.85
4    1986-01-08          25.87
...         ...            ...
8218 2018-07-03          74.19
8219 2018-07-04            NaN
8220 2018-07-05          73.05
8221 2018-07-06          73.78
8222 2018-07-09          73.93

[8223 rows x 2 columns]